root = true

[*]
charset = utf-8

# Indent rules:
indent_style = space
indent_size = 2

# Spacing rules:
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{rs,sql}]
indent_size = 4
